a { font-family: "Lucida Grande", "Arial", sans-serif; }
b { font: normal 14px/32px -apple-system, BlinkMacSystemFont, sans-serif; }
c { font-family: SF Mono, Liberation Mono, sans-serif; }
d { font: 1em SF Mono, Liberation Mono, sans-serif; }
